@charset "UTF-8";

*{
	box-sizing: border-box; margin : 0; padding : 0; list-style: none;
	font-family : '맑은 고딕';
}
a{color : black; text-decoration: none;}
a hover{color : gray;}


.section_write{width : 1000px; height : 300px; margin : 0 auto; }


#boardList span{margin : 20px 40px; }

.boardlist{width : 1000px; height : 300px; margin : 0 auto; 
	display : flex; flex-direction : column; justify-content: space-between; align-items: center; border : 1px solid black; }
.boardlist ul{margin-top : 20px;}

#contentbox{ width : 1000px; height : 400px ; margin : 0 auto;
		border : 1px solid black;
}

#commentbox li{display : flex; justify-content: flex-start;}

#commentbox li div{margin-right : 20px;}

#commentwrap{width : 1000px; height : 400px ; margin : 0 auto;
		border : 1px solid black;}